body {
  background-image: url("css/img/BaseBG.png");
}

#base {
  width: 100%;
  height: 100%;
}

#side_bar {
  background-image: url("css/img/BaseSide.png");
  position: absolute;
  z-index: 2;
  width: 23%;
  min-width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  float: left;
}

#right_side {
}

#top_bar {
  background-image:url('css/img/BaseTop.png');
  position: absolute;
  height: 4%;
  min-height: 35px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

#edge_1 {
  background-image:url('css/img/BaseTop.png');
  position: absolute;
  height: 25px;
  min-height: initial;
  width: 8px;
  top: 20%;
  left: 0;
  z-index: 1;
}

#panel_1 {
  background-image:url('css/img/BaseTop.png');
  position: absolute;
  height: 30px;
  min-height: initial;
  width: 100%;
  top: 120px;
  left: 0;
  z-index: 0;
}

#edge_2 {
  background-image:url('css/img/BaseTop.png');
  position: absolute;
  height: 30px;
  min-height: initial;
  width: 8px;
  top: 120px;
  left: 0;
  z-index: 1;
}

#panel_2 {
  background-image:url('css/img/Long1.png');
  position: absolute;
  height: 100px;
  min-height: initial;
  width: 100%;
  top: 20%;
  left: 0;
  z-index: 0;
}
